.container {
  border: 1px solid grey;
  padding: 40px;
  margin: 20px;
  max-width: 800px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  color: #406475;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

submit {
  background-color: #406475;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px;
  padding: 5px 3px;
}

submit:hover {
  transition: all 200ms ease-in-out;
  background-color: #f0eeee;
}

#current-location-button {
  padding: 5px 3px;
}

.btn:hover {
  transition: all 200ms ease-in-out;
  background-color: #f0eeee;
}

h1 {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.row {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #406475;
}
a:hover {
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.temperature {
  font-size: 40px;
}
