.weather-app {
  border: 1px solid grey;
  padding: 40px;
  margin: 0 auto;
  max-width: 800px;
  background-image: linear-gradient(to top, #f1d4cb 0%, #ace0f9 100%);
  color: #406475;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

submit {
  background-color: #406475;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px;
  padding: 5px 3px;
}

submit:hover {
  transition: all 200ms ease-in-out;
  background-color: #f0eeee;
}

#current-location-button {
  padding: 5px 3px;
}

.btn:hover {
  transition: all 200ms ease-in-out;
  background-color: #f0eeee;
}

h1 {
  margin-top: 15px;
}

.updated {
  font-size: 20px;
  font-weight: lighter;
}

#description {
  text-transform: capitalize;
}

a:hover {
  text-decoration: none;
}

#degrees {
  font-size: 20px;
  position: relative;
  top: -22px;
}

#degrees .active {
  color: #406475;
  cursor: default;
  text-decoration: none;
}

#degrees .active:hover {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  margin-top: 15px;
}

.temperature {
  font-size: 40px;
}

.weather-forecast h3 {
  font-size: 22px;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

#forecast {
  text-align: center;
}
#forecast strong {
  font-weight: bold;
}
.weather-forecast-temperature {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.repo {
  color: #406475;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  margin-left: 155px;
  font-weight: bold;
}
.repo-link:hover {
  transition: all 200ms ease-in-out;
  font-weight: bolder;
}
